html {
    scroll-behavior: smooth;
  }

body {
    background: url(../images/macbookphoto.jpg) no-repeat;
    height: 100%;
    background-color: black;
}

h1 {
    float: left;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 100px;
    line-height: 0.95;
    letter-spacing: 2px;
    padding-top: 40px;
    margin-left: 60px;
    text-shadow: 2px 4px 10px black;
}

/* Nav Bar Stuff */
.navbar-brand {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f8c836;
    margin: 10px;
}

/* Hoover */
.navbar-brand {
    color: #f8c836;
    padding: 10px;
}

.navbar-brand:hover {
    color: #a00c24;
    padding: 10px;
}


/* Body Info Stuff */
h2 {
    font-family: 'Anton', sans-serif;
    color:#a00c24;
    font-size: 50px;
    text-shadow: 2px 4px 10px black;
}

.graphicText {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 35px;
    line-height: 0.010;
    opacity: 0.25;
    text-shadow: 2px 4px 10px black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: justify;
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    color: black;
}

/* Oran Photo */
.Oran {
    border-radius: 150px;
    box-shadow: 0px 0px 20px black;
    margin-bottom: 100px;
}

/* Footer */
.footer {
    position: fixed;
    color: rgb(211, 203, 203);
    text-shadow: 0px 4px 10px black;
}

/* About Page */
#page2 {
    height: 100%;
    background-color: white;
}

/* Portfolio Page */
#page3 {
    height: 100%;
    background-color: white;
}

h3 {
    font-size: inherit;
}

h4 {
    font-family: 'Anton', sans-serif;
    color:#a00c24;
    font-size: 50px;
    padding-top: 20px;
}

h5 {
    font-family: 'Anton', sans-serif;
    color:black;
    font-size: 20px;
    align-content: center;
}

p2 {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: justify;
    padding: 40px;
    font-size: 15px;
    color: grey;
}

#Giphy {
    position: relative;
    float: left;
    padding-top: 20px;
    margin-left: 50px;
}

.text-block1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

#Psychic {
    position: absolute;
    float: left;
    padding-top: 40px;
    margin-left: 50px;
}

.text-block2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

#Crystal {
    position: relative;
    float: left;
    padding-top: 40px;
    margin-left: 50px;
}

.text-block3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

#ProjectOne {
    position: absolute;
    float: right;
    padding-top: 40px;
    margin-left: 50px;
}

.text-block4 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

/* Skills Info */
#page4 {
    height: 100%;
    background-color: white;
}

.skillsinfo img {
    margin-right: 30px;
    margin-bottom: 10px;
}

* {box-sizing: border-box}

.containerSkill {
  width: 100%;
  margin-left: 50px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
}

.html {
    width: 90%;
    background-color:#0f829b;
}

.css {
    width: 80%;
    background-color:#0f829b;
}

.bootstrap {
    width: 80%;
    background-color:#0f829b;
}

.javascript {
    width: 50%;
    background-color:#0f829b;
}

.jquery {
    width: 50%;
    background-color:#0f829b;
}

/* Contact Info */
#page5 {
    height: max-content;
    background-color: #B9B9B9;
}

/* .contactinfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 25px;
    color: black;
    line-height: 1.8;
} */

.img-fluid {
    padding-top: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: black;
}

input, textarea {
    margin-left: 30px;
}


/* Hoover For Contact Info */
a {
    color: black;
    padding: 10px;
  }

a:hover {
    color:#a00c24;
    padding: 10px;
}

/* Submit Button */

.button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a00c24;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}







/* Media Queries */

@media screen and (max-width: 640px) {

    /* Nav Bar Stuff */
    .navbar-brand {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f8c836;
    margin: 5px;
}    

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 100px;
    line-height: 0.95;
    letter-spacing: 2px;
    padding-top: 40px;
    margin-left: 60px;
    text-shadow: 2px 4px 10px black;
}

/* Hoover */
.navbar-brand {
    color: #f8c836;
    padding: 10px;
  }

.navbar-brand:hover {
    color: #a00c24;
    padding: 10px;
}

/* Body Info Stuff */
h2 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    color:#a00c24;
    font-size: 35px;
    margin-top: 10px;
    text-shadow: 2px 4px 10px black;
}

.graphicText {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 27px;
    margin-top: -10px;
    opacity: 0.25;
    text-shadow: 2px 4px 10px black;
}

p {
    text-align: justify;
    font-size: 15px;
    color: white;
    text-shadow: 2px 3px 8px black;
}

/* Footer */
.footer {
    position: fixed;
    color: white;
    margin-top: -10px;
    text-shadow: 0px 4px 10px black;
}

/* Portfolio Page */
#Giphy {
    position: relative;
    float: left;
    margin-top: 40px;
    width: 40%;
    height: auto;
}

.text-block1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

#Psychic {
    position: absolute;
    float: left;
    margin-bottom: 40px;
    margin-left: 160px;
    width: 48%;
    height: auto;
}

.text-block2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

#Crystal {
    position: relative;
    float: left;
    margin-bottom: 40px;
    margin-left: 5px;
    width: 48%;
    height: auto;
}

.text-block3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

#ProjectOne {
    position: absolute;
    float: left;
    margin-bottom: 50px;
    margin-left: 190px;
    width: 40%;
    height: auto;
}

.text-block4 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 100%;
    margin-left: 10px;
}

/* Contact Info */
.contactinfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.75;
    color: white;
    text-shadow: 2px 4px 10px black;
}

}