body {
    background: url(../images/macbookphoto.jpg) no-repeat;
    height: 100%;
    background-color: black;
}


h1 {
    float: left;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 100px;
    line-height: 0.95;
    letter-spacing: 2px;
    padding-top: 40px;
    margin-left: 60px;
    text-shadow: 2px 4px 10px black;
}

/* Nav Bar Stuff */
.navbar-brand {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f8c836;
    margin: 10px;
}

/* Hoover */
.navbar-brand {
    color: #f8c836;
    padding: 10px;
  }

.navbar-brand:hover {
    color: #a00c24;
    padding: 10px;
}

/* Body Info Stuff */
h2 {
    font-family: 'Anton', sans-serif;
    color:#a00c24;
    font-size: 50px;
    text-shadow: 2px 4px 10px black;
}

.graphicText {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 35px;
    line-height: 0.010;
    opacity: 0.25;
    text-shadow: 2px 4px 10px black;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-align: justify;
    padding: 40px;
    font-size: 15px;
    color: white;
    text-shadow: 2px 3px 8px black;
}


/* Footer */
.footer {
    position: fixed;
    color: white;
    text-shadow: 0px 4px 10px black;
}


/* Portfolio Page */
#Giphy {
    position: relative;
    float: right;
    bottom: 30px;
    /* margin-left: 385px; */
}

.text-block1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 90%;
    margin-left: 10px;
}

#Psychic {
    position: relative;
    /* float: left; */
    bottom: 10px;
    /* margin-left: 100px; */
}

.text-block2 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 70%;
    margin-left: 10px;
}

#Crystal {
    position: relative;
    float: right;
    bottom: 10px;
    margin-left: 200px;
}

.text-block3 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 91%;
    margin-left: 10px;
}

#ProjectOne {
    position: absolute;
    float: right;
    bottom: 10px;
    margin-left: 30px;
}

.text-block4 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 92%;
    margin-left: 10px;
}

#ProjectTwo {
    position: absolute;
    float: right;
    bottom: 10px;
    /* margin-left: 50px; */
}

.text-block5 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 5px;
    background-color:#a00c24;
    text-align: center;
    color: #f8c836;
    width: 86%;
    margin-left: 10px;
}

/* Contact Info */
.contactinfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 2px 4px 10px black;
}

/* Hoover For Contact Info */
a {
    color: white;
    padding: 10px;
  }

a:hover {
    color: #f8c836;
    padding: 10px;
}